<div class="quizz__container">

  <div class="quizz-logo">
    <img src="../../../assets/images/logo.png" alt="" />
    <h2>Título</h2>
  </div>

  <div class="quizz-questions">
    <h2>Question</h2>
  </div>

  <div class="quizz-options">
    <button class="btn-option">Option 1</button>
    <button class="btn-option">Option 1</button>
    <button class="btn-option">Option 1</button>
    <button class="btn-option">Option 1</button>
  </div>

  <div class="quizz-results">
    <h3>Seu resultado é:</h3>
    <p>Resposta Selecionada</p>
  </div>

</div>
